<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
  <style>
  body {
    background-color: Gainsboro;
  }

  #wraps{
    border-radius: 20px;
    border: 4px solid black;
    text-align:center;
    padding-top: 30px;
    padding-bottom: 40px;
    margin-top: 160px;
    margin-left: 240px;
    margin-right: 240px;
    min-width: 35%;
    background: linear-gradient(to bottom right, rgb(18, 27, 43), rgb(32, 52, 86));
  }

 h1 {
    font-family: Tahoma, Geneva, sans-serif;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-shadow: 8px 11px 10px rgba(0, 0, 0, 0.7);
  }

  .booter{
    color: grey;
    box-shadow: 8px 7px 12px 2px rgba(0, 0, 0, 0.4);
    border-style: none;
    border-radius: 50px;
    background-color: white;
    padding: 8px;
    width: 70px;
  }


  </style>

<div id="wraps" style="text-align:center;">

  <h1>User id: <%= id %>.</h1>

  <h1>Title: <%= title %>.</h1>

  <h1>Content: <%= content %></h1>

  <h1>Date: <%= date %></h1>

  <h1>Location is: <%= location %></h1>

  <h1>Your password is: <%= pass %></h1>

  <a href="/createpost/updatepost"><button class="booter" type="button" name="button">Edit</button></a>

  <a href="/top"><button class="booter" type="button" name="button">Home</button></a>
</div>

  </body>
</html>
