<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
  <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 50%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      .controls {
        background-color: #fff;
        border-radius: 2px;
        border: 1px solid transparent;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        box-sizing: border-box;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        height: 29px;
        margin-left: 17px;
        margin-top: 10px;
        outline: none;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
      }

      .controls:focus {
        border-color: #4d90fe;
      }
      .title {
        font-weight: bold;
      }
      #infowindow-content {
        display: none;
      }
      #map #infowindow-content {
        display: inline;
      }

    </style>

    <div id="map"></div>

    <div id="infowindow-content">
      <span id="place-name"  class="title"></span><br>
      Place ID <span id="place-id"></span><br>
      <span id="place-address"></span>
    </div>
    <h1>Edit page from new post!</h1>

    <form action="/createpost/magicishappening/<%= data[data.length-1].id %>" method="post">
      <input id="pac-input" class="controls" type="text"
      placeholder="Enter a location" value="<%=data[data.length-1].location%>">

      <p><label for="id">Post# is <%= data[data.length-1].id %>.</label></p>

      <p><label for="content">Content</label>
      <input type="text" name="content" value="<%= data[data.length-1].content %>"></p>

      <p><label for="dates">Dates</label>
        Month
        <select name="date">
          <% for(var i = 1; i < 13; i++) { %>
            if(i === <%= data[data.length-1].dates.split('/')[0] %>) {
             <option value="<%= data[data.length-1].dates.split('/')[0] %>"><%=i%></option>
           }
          <%} %>
        </select>
        Day
        <select name="date">
          <%for(var i = 1; i < 32; i++) {%>
            <option value="<%= data[data.length-1].dates.split('/')[1] %>"><%=i%></option>
          <%}%>
        </select>
        Year
        <select name="date">
          <%for(var i = 2017; i < 3000; i++) {%>
            <option value="<%= data[data.length-1].dates.split('/')[2] %>"><%=i%></option>
          <%}%>
        </select></p>

      <p><label for="post_pass">Password for post#</label>
      <input type="text" name="post_pass" value="<%= data[data.length-1].post_pass %>"></p>
      <input id=""class="locator" type="text" name="location" hidden>

      <input class="submitter" type="submit" name="submit" value="Change submit">

    </form>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script>

    $('.submitter').click(() =>{
       var inp = $("#pac-input").val()
      $('.locator').val(inp)
    })

      function initMap() {
         $.post("https://www.googleapis.com/geolocation/v1/geolocate?key=AIzaSyC_lA6iptoJVWTAmRdwroE2Cg-hvarPN_g", (data)=>{
         console.log(data)
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: data.location.lat, lng: data.location.lng},
          zoom: 13
        });

        var input = document.getElementById('pac-input');

        var autocomplete = new google.maps.places.Autocomplete(
            input, {placeIdOnly: true});
        autocomplete.bindTo('bounds', map);

        map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);
        var infowindow = new google.maps.InfoWindow();
        var infowindowContent = document.getElementById('infowindow-content');
        infowindow.setContent(infowindowContent);
        var geocoder = new google.maps.Geocoder;
        var marker = new google.maps.Marker({
          map: map
        });
        marker.addListener('click', function() {
          infowindow.open(map, marker);
        });

        autocomplete.addListener('place_changed', function() {
          infowindow.close();
          var place = autocomplete.getPlace();

          if (!place.place_id) {
            return;
          }
          geocoder.geocode({'placeId': place.place_id}, function(results, status) {

            if (status !== 'OK') {
              window.alert('Geocoder failed due to: ' + status);
              return;
            }
            map.setZoom(11);
            map.setCenter(results[0].geometry.location);
            // Set the position of the marker using the place ID and location.
            marker.setPlace({
              placeId: place.place_id,
              location: results[0].geometry.location
            });
            marker.setVisible(true);
            infowindowContent.children['place-name'].textContent = place.name;
            infowindowContent.children['place-id'].textContent = place.place_id;
            infowindowContent.children['place-address'].textContent =
                results[0].formatted_address;
            infowindow.open(map, marker);
          });
        });
      });
      }
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCiUZiGyQbF0ZM8vsHhZBBYxD99NEArhTg&libraries=places&callback=initMap"
        async defer></script>


  </body>
</html>
