<!DOCTYPE html>
<!--THIS CODE WORKS-->
<html>
   <head>
      <meta charset="utf-8">
      <title<%= riders.id%></title>
   </head>
   <body>
      <h1>Editing rider <%= riders.id%></h1>
      <form action= "/riders/<%= riders.id%>/" method="post">

<!-- p tag codes below pull info from db to populate fiels on edit page-->
         <p>
            <label for = "first_name">First Name</label>
            <input type  = "text" id="first_name" name= "first_name"
            value "<%= riders.first_name %>">
         </p>
         <p>
            <label for = "last_name">Last Name</label>
            <input type  = "text" id= "last_name" name= "last_name"
            value "<%= riders.last_name %>">
         </p>
         <p>
            <label for = "bicycle_id">Bicycle Id</label>
            <input type  = "text" id= "bicycle_id" name= "bicycle_id"
            value "<%= riders.bicycle_id %>">
         </p>

         <input type="hidden" name="id" value="<%= riders.id%>">
         <input type="submit" name="submit" value="Submit Changes">

      </form>

   </body>
</html>
