<!DOCTYPE html>
<!--THIS CODE WORKS-->
<html>
   <head>
          <link rel="stylesheet" href="/stylesheets/topstyle.css" />
      <meta charset="utf-8">
      <title>hi</title>
   </head>
   <body>

      <!-- <div class="login">
        <h1 class="title">Placebook</h1>
     </div> -->



<!-- <div class="contentarea"> -->

   <style>
       /* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
       #map {
         height: 50%;
       }
       /* Optional: Makes the sample page fill the window. */
       html, body {
         height: 100%;
         margin: 0;
         padding: 0;
       }
       .controls {
         background-color: #fff;
         border-radius: 2px;
         border: 1px solid transparent;
         box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
         box-sizing: border-box;
         font-family: Roboto;
         font-size: 15px;
         font-weight: 300;
         height: 29px;
         margin-left: 17px;
         margin-top: 10px;
         outline: none;
         padding: 0 11px 0 13px;
         text-overflow: ellipsis;
         width: 400px;
       }

       .controls:focus {
         border-color: #4d90fe;
       }
       .title {
         font-weight: bold;
       }
       #infowindow-content {
         display: none;
       }
       #map #infowindow-content {
         display: inline;
       }

       content {
          width: auto;
       }

       .booter{
         border-style: none;
         color: grey;
         background-color: white;
         border-radius: 50px;
         margin: 5px;
       }

       #boxer{
         text-align: center;
         border: 3px solid black;
         padding-top: 20px;
         padding-bottom: 20px;
         background:linear-gradient(to bottom right, rgb(18, 27, 43), rgb(32, 52, 86));
         height:50%;
       }
       p{
         color: white;
         font-family: Tahoma, Geneva, sans-serif;
       }

       #content, #info, #password {
        border-style: none;
        border-radius: 50px;
        padding: 5px;
       }

     </style>
     <%if(parseInt(id) === posts.poster_id){%>

     <div id="map"></div>

     <div id="infowindow-content">
       <span id="place-name"  class="title"></span><br>
       Place ID <span id="place-id"></span><br>
       <span id="place-address"></span>
     </div>

      <form action= "edit" method="post">
         <input id="pac-input" class="controls" type="text"
        placeholder="Enter a location" value="<%=posts.location%>">




<!-- p tag codes below pull info from db to populate fiels on edit page-->
  <div id="boxer">

      <p>
         <label for="content">Title</label>
         <input type="text" id="content" name= "content" placeholder = "title" value ="<%= posts.content %>">
      </p>



      <!--info = details of the post-->
      <p>
         <label for="info">Message</label>
         <input type="text" id="info" name= "info" placeholder = "message" value ="<%= posts.info %>">
      </p>

      <p>Change Date</p>
      <p>
      Month
      <select name="date">
         <%for(var i = 1; i < 13; i++) {%>
         <option><%=i%></option>
          <%}%>
       </select>
      Day
      <select name="date">
         <%for(var i = 1; i < 32; i++) {%>
             <option><%=i%></option>
          <%}%>
      </select>
      Year
      <select name="date">
         <%for(var i = 2017; i < 3000; i++) {%>
            <option><%=i%></option>
         <%}%>
      </select>
      </p>
        <div>
          <p>
            Password
            <input type="text" id="password" name= "password" placeholder = "password" value ="<%= posts.post_pass %>" >
          </p>

        </div>


         <input class="locator" type="text" name="location" hidden>

         <input class="submitter booter" type="submit" name="submit" value="Submit">

         <a href="/top"><button class="booter" type="button" name="button">Home</button></a>
      </form>
    </div>
      <%} else {%>
        <h1>You do not have access to this page</h1>
        <%}%>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

      <script>

      $('.submitter').click(() =>{
         var inp = $("#pac-input").val()
        $('.locator').val(inp)
      })

        function initMap() {
           $.post("https://www.googleapis.com/geolocation/v1/geolocate?key=AIzaSyC_lA6iptoJVWTAmRdwroE2Cg-hvarPN_g", (data)=>{
           console.log(data)
          var map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: data.location.lat, lng: data.location.lng},
            zoom: 13
          });

          var input = document.getElementById('pac-input');

          var autocomplete = new google.maps.places.Autocomplete(
              input, {placeIdOnly: true});
          autocomplete.bindTo('bounds', map);

          map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);
          var infowindow = new google.maps.InfoWindow();
          var infowindowContent = document.getElementById('infowindow-content');
          infowindow.setContent(infowindowContent);
          var geocoder = new google.maps.Geocoder;
          var marker = new google.maps.Marker({
            map: map
          });
          marker.addListener('click', function() {
            infowindow.open(map, marker);
          });

          autocomplete.addListener('place_changed', function() {
            infowindow.close();
            var place = autocomplete.getPlace();

            if (!place.place_id) {
              return;
            }
            geocoder.geocode({'placeId': place.place_id}, function(results, status) {

              if (status !== 'OK') {
                window.alert('Geocoder failed due to: ' + status);
                return;
              }
              map.setZoom(11);
              map.setCenter(results[0].geometry.location);
              // Set the position of the marker using the place ID and location.
              marker.setPlace({
                placeId: place.place_id,
                location: results[0].geometry.location
              });
              marker.setVisible(true);
              infowindowContent.children['place-name'].textContent = place.name;
              infowindowContent.children['place-id'].textContent = place.place_id;
              infowindowContent.children['place-address'].textContent =
                  results[0].formatted_address;
              infowindow.open(map, marker);
            });
          });
        });
        }
      </script>

      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCiUZiGyQbF0ZM8vsHhZBBYxD99NEArhTg&libraries=places&callback=initMap"
          async defer></script>
   </body>
</html>
