<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/topstyle.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
  <div class="login">
    <h1 class="title" style="padding: 0px; margin-top:10px;">Placebook</h1>
    <div style="float:right; margin-bottom:5px;">
      <a style="margin-bottom: 8px;" href="/createpost/updateacc"><button class="newnew" type="button" name="button">Edit account</button></a>
      <a style="margin-bottom: 8px; " href="top/logout" style="margin-left:15px;"><button class="newnew" type="button" name="button">logout</button></a>
    </div>
    <a href="createpost/create" style="margin-left: 10px; margin-top: 30px;"><button style="margin-top: 10px; display:fixed;" class="newnew" type="button" name="button">new post</button>  </a>

</div>

<div class="container">





  <div class="row">
    <div class="col-xs-12">
      <!-- <div class="wraps" style="margin-top:40px; margin-bottom:40px; border: 3px solid black"> -->
        <% for (var i=0; i< data.length; i++) {%>
          <div style="padding: 20px; margin-top:30px; margin-bottom:30px; box-shadow: 10px 10px 20px 3px rgba(0, 0, 0, 0.8); border-radius:6px;">
              <h3 style="display: inline;"><%= data[i].content %> | <%= data[i].location%> | <%=data[i].dates %></h3>
              <a href="/top/<%= data[i].id %>/views" class="new"id="edit"><button class="newnew" type="button" name="button" >View</button></a>

              <a href = "/top/<%= data[i].id %>/edit"><button class="newnew" type="button" name="button" id="edit">Edit</button></a>

              <a href = "/top/<%= data[i].id %>/delete"><button class="newnew" type="button" name="button" id="delete">Delete</button></a>
          </div>
        <% } %>
        </div>

      </div>

    </div>













<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</div>
</body>
</html>
