<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/topstyle.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
  <div class="login">
    <h1 class="title">Placebook</h1>
</div>

<div class="container">
<p><a href="/createpost/updateacc"><button type="button" name="button">Edit account</button></a></p>



   Your recent location posts
   <a href="createpost/create" style="margin-left: 10px">
     <button type="button" name="button">new post</button>
   </a>
   <a href="top/logout" style="margin-left:15px;">
     <button type="button" name="button">logout</button>
   </a>

  <div class="row">
    <div class="col-xs-12">
      <!-- <div class="wraps" style="margin-top:40px; margin-bottom:40px; border: 3px solid black"> -->
        <% for (var i=0; i< data.length; i++) {%>
          <div style="border: 3px solid black; margin-top:30px; margin-bottom:30px">
              <h3 style="display: inline;"><%= data[i].content %> | <%= data[i].location %></h3>
                <a style="display: inline;" href = "/top/<%= data[i].id %>/edit"><button type="button" name="button" id="edit">Edit</button></a>

                <a style="display: inline;" href = "/top/<%= data[i].id %>/views"><button type="button" name="button" id="edit">View</button></a>

                <a style="display: inline;" href = "/top/<%= data[i].id %>/delete"><button type="button" name="button" id="delete">Delete</button></a>

          </div>
        <% } %>
        </div>

      </div>

    </div>













<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</div>
</body>
</html>
